<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .container {
        background-color: rgb(206, 231, 253);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10vh;
        height: 100vh;
      }
      h1 {
        font-size: 4rem;
        color: brown;
      }
    </style>
  </head>
  <body>
    <%- include('common/header');%>
    <div class="container">
      <h1>This is a login page</h1>
    </div>
  </body>
</html>
